{
    "extends": [ 
      "airbnb-typescript",
      "airbnb/hooks",
      "plugin:@typescript-eslint/recommended",
      "prettier",
      "plugin:prettier/recommended",
      "plugin:import/typescript",
      "plugin:jsx-a11y/recommended"
  ],
    "plugins": ["react", "@typescript-eslint", "import", "jsx-a11y"],
    "env": {
      "browser": true,
      "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "rules": {
      "import/no-unresolved": "off",
      "linebreak-style": "off",
      "@typescript-eslint/no-empty-interface": "off",
      "react/require-default-props": "off",
      "react/prop-types": "off",
      "no-underscore-dangle": "off",
      "prettier/prettier": [
        "error",
        {
          "endOfLine": "auto"
        }
      ]
    }
   }